.banner {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-image: url("../../assets/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
  background-size: 100%;
  text-align: center;
}

.bannerTitle {
  font-family: "Cambria", sans-serif;
  margin-top: 20px;
}

h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 0px #000;
}

.searchForm {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchForm input {
  background-color: #eee;
  border-radius: 4px;
  height: 32px;
  font-weight: 500;
  width: 300px;
  border: 1px solid #aaa;
}

.searchForm input:focus {
  outline: none;
}

.searchForm button {
  margin-left: 10px;
  font-weight: 500;
}
